.section23{
    background-image:url(https://assets-global.website-files.com/640036547d68f8c201789d8c/64c46ca167694090d9e6820c_4863428.jpg);
      background-position: 0 0;
      background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    // background-color: yellow;
}